* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body*/
body {
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgb(213, 229, 183) 0%,
      rgb(213, 229, 183) 17%,
      rgb(189, 213, 190) 17%,
      rgb(189, 213, 190) 29%,
      rgb(166, 196, 196) 29%,
      rgb(166, 196, 196) 38%,
      rgb(142, 180, 203) 38%,
      rgb(142, 180, 203) 47%,
      rgb(118, 164, 210) 47%,
      rgb(118, 164, 210) 58%,
      rgb(95, 147, 216) 58%,
      rgb(95, 147, 216) 88%,
      rgb(71, 131, 223) 88%,
      rgb(71, 131, 223) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(213, 229, 183) 0%,
      rgb(213, 229, 183) 17%,
      rgb(189, 213, 190) 17%,
      rgb(189, 213, 190) 29%,
      rgb(166, 196, 196) 29%,
      rgb(166, 196, 196) 38%,
      rgb(142, 180, 203) 38%,
      rgb(142, 180, 203) 47%,
      rgb(118, 164, 210) 47%,
      rgb(118, 164, 210) 58%,
      rgb(95, 147, 216) 58%,
      rgb(95, 147, 216) 88%,
      rgb(71, 131, 223) 88%,
      rgb(71, 131, 223) 100%
    ),
    linear-gradient(
      112.5deg,
      rgb(213, 229, 183) 0%,
      rgb(213, 229, 183) 17%,
      rgb(189, 213, 190) 17%,
      rgb(189, 213, 190) 29%,
      rgb(166, 196, 196) 29%,
      rgb(166, 196, 196) 38%,
      rgb(142, 180, 203) 38%,
      rgb(142, 180, 203) 47%,
      rgb(118, 164, 210) 47%,
      rgb(118, 164, 210) 58%,
      rgb(95, 147, 216) 58%,
      rgb(95, 147, 216) 88%,
      rgb(71, 131, 223) 88%,
      rgb(71, 131, 223) 100%
    ),
    linear-gradient(
      90deg,
      rgb(213, 229, 183) 0%,
      rgb(213, 229, 183) 17%,
      rgb(189, 213, 190) 17%,
      rgb(189, 213, 190) 29%,
      rgb(166, 196, 196) 29%,
      rgb(166, 196, 196) 38%,
      rgb(142, 180, 203) 38%,
      rgb(142, 180, 203) 47%,
      rgb(118, 164, 210) 47%,
      rgb(118, 164, 210) 58%,
      rgb(95, 147, 216) 58%,
      rgb(95, 147, 216) 88%,
      rgb(71, 131, 223) 88%,
      rgb(71, 131, 223) 100%
    ),
    linear-gradient(90deg, rgb(173, 92, 95), rgb(110, 20, 174));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

/*Header*/
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(0, 0, 139, 0.3);
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 5px;
}

header nav {
    margin: 12px 0;
    padding: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    list-style: none;  
}

header a {
    color: black;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.70vw;
    font-weight: bold;
}

header nav ul li a:hover {
    background: rgba( 255, 255, 255, 0.4);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid rgba( 255, 255, 255, 0.4);
    background-color: rgba( 255, 255, 255, 0.4);

}

footer h3 {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

h2, 
h3,
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
.sub-header {
    background-image: url("../assets/images/unnamed.jpeg");
    background-size: cover;
    background-position: 80%;
    height: 50%;
    display: flex;
}

.sub-header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 60px;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    background-color: rgba( 255, 255, 255, 0.4);
}

.main-content,
.contact-info {
    flex: 1;
    height: 5em;
    margin: 10px;
}

.fab-img {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 20%;
    border-left: 2px solid black;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 70%;
}

